node_modules/
npm-debug.log*
dist/
dist-app/
dist-app-*
build/
*.log

python/dist/
python/build/
python/__pycache__/
python/.venv/
python/*.spec
python/*.spec.*
python/*.pyc

uv.lock
uv-requirements.txt
*.lock

.idea/
.vscode/
/.cache
.DS_Store
Thumbs.db

.env
.env.*

*.exe
*.dll

*.d.ts

/.tmp
/.temp
